html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  font-family: font-family: 'PT Serif', serif;
  font-size: 0.8rem;
}

h1 h2 {
  font-family: 'PT Sans', sans-serif;
  color: #222;
  font-size: 1.125rem
}

h1 {
  font-size: 1.5rem;
}

nav {
  color: #8f2440;
  text-decoration: none;
}

nav ol {
  list-style-type: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  text-align: center;
}

figcaption {
  text-align: center;
}

.fist {
  font-size: 1.125rem;
  font-weight: bold;
}
